<html>
	<head>
		<title>今日头条</title>
        <link rel="stylesheet" type="text/css" href="../static/home.css">
	</head>
	<body>
        <div id="spacer">
            <p class="clearFloat"></p>
        </div>
        <div id="header">

            <div id="navbar">
                <ul>
                    <li><a href="/" >头条</a></li>
                    <li><a href="JavaScript:void(0)" onclick="alert('hi')">地图</a> </li>
                </ul>
            </div>
            <p><b>{{weather.city}}</b> {{weather.description}}|{{weather.temperature}}℃</p>
        </div>
        <div id="main">
            <form>
                <input type="text" name="cat" placeholder="search" />
                <input type="submit"  value="search" />
            </form>
            {% for article in articles %}
                <b><a href="{{article.link}}">{{article.title}}</a></b><br/>
                <i>{{article.published}}</i><br/>
                {{article.summary | safe}} <br/>
                <br/>
            {% endfor %}
        </div>
	</body>
</html>

